*{
    font-family: 'Squada One', sans-serif;
}
body {
    background: rgba(0,0,0,0.05);
    transition: 1s;
}
.box{
    position:relative;
	width:600px;
	height:300px;
	margin:0 auto 0 auto;
}
.calc-container {
    margin: auto;
}
.case {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    width: 500px;
    height: 700px;
    margin-top: 30px;
    background: white;
    border: 3px solid rgba(0,0,0,0.3);
    transition: 1s;
}
.screen {
    border: 4px solid black;
    border-radius: 20px;
    width: 80%;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -60px;
    overflow: hidden;
    background: rgba(10,10,10,1);
    transition: 0.2s;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 0%;
    border-radius: 10px;
    overflow: hidden;
}
.extra-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    height: 50px;
    margin-bottom: 0%;
    overflow: hidden;
}
.extra-buttons button{
    font-size: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(0,0,0,0);
}
.extra-buttons button:hover{
    background: #e84118;
    transition: none;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    border-radius: 15px;
}
.numbers button{
    font-size: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: rgba(0,0,0,0);
}
.numbers button:hover{
    background:#e84118;
    transition: 0s;
}
.operators{
    display: grid;
    grid-template-rows: 1fr,1fr,3fr;
}
.operators button{
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgba(0,0,0,0);
}
.operators button:hover{
    background: #e84118;
    transition: 0s;
}
.switchs{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border-radius: 15px;
}
.switchs button{
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
}
.on-off{
    margin: auto;
    padding: 0%;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}
.ld{
    transition: 0.5s;
}
.on-off-btn{
    margin: auto;
    width: max-content;
    font-size: 20px;
}
button:active{
    transform: scale(0.8);
}
.smart-toggle{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
}
.smart-toggle button{
    font-size: 20px;
}
.smart-btn{
    color: #7efff5;
    text-shadow: 0 0 5px #18dcff;
}
.dumb-btn{
    color: white;
}
.dark-mode{
    margin: auto;
}
.dark-mode button{
    margin: auto;
    font-size: 40px;
}
.result{
    margin: auto;
    padding-top: 5px;
    background: rgba(0,0,0,0.8);
    transition: 0.2s;
}
#result{
    width: 90%;
    height: 40px;
    font-size: 25px;
    margin: auto;
    text-align: right;
    color: white;
}
#display{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    text-align: right;
    font-size: 45px;
    color: white;
}
#equal-btn{
    height: 200px;
    margin-bottom: -63px;
    border-radius: 15px;
    background: #e84118;
    color: white;
}