*{
    font-family: 'Squada One', cursive;
}
body {
    background: rgba(0,0,0,0.05);
}
.calc-container {
    margin: auto;
}
.case {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 700px;
    margin-top: 30px;
}
.screen {
    border: 4px solid black;
    border-radius: 20px;
    width: 80%;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -60px;
    overflow: hidden;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: rgba(0,0,0,0.08);
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 0%;
    border-radius: 10px;
    overflow: hidden;
}
.extra-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    height: 50px;
    margin-bottom: 0%;
    overflow: hidden;
}
.extra-buttons button{
    font-size: 30px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.numbers button{
    font-size: 30px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
}
.operators{
    display: grid;
    grid-template-rows: 1fr,1fr,3fr;
}
.operators button{
    font-size: 30px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
}
.switchs{
    
}
.result{
    margin: auto;
    justify-self: c;
    border: 1px solid black;
    padding-top: 5px;
}
#result{
    width: 90%;
    height: 40px;
    font-size: 25px;
    margin: auto;
    text-align: right;
}
#display{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    text-align: right;
    font-size: 45px;
}
#equal-btn{
    height: 200px;
    margin-bottom: -63px;
}